<div class="row">
	<div class="col s12 input-field">
		<div class="drop-down">
			<i class="material-icons icon" onclick="options()">arrow_drop_down</i>
			<input id="filter" type="text" placeholder="Servicio a buscar" onkeyup="filter()" onfocus="clean()">
			<div class="options">
				<ul class="z-depth-1">
					<li value="all" onclick="select(this)">
						<span class="text">Ver todos</span>
						<span class="counter"><%= services.length %></span>
					</li>
					<% Object.keys(categories).forEach(function(key){ %>
						<% var item = categories[key] %>
						<li value="<%= item.code %>" onclick="select(this)">
							<span class="text"><%= item.name %></span>
							<span class="counter"><%= item.count %></span>
						</li>
					<% }) %>
				</ul>
			</div>
		</div>
	</div>

	<% services.forEach(function(item) { %>
		<div class="col s4 m2 center-align service <%= item.category %>" data-value="<%= item.caption %>">
			<div class="card">
				<a href="#!" class="green-text" onclick="apretaste.send({command:'<%= item.name %>'})">
					<% if(item.count > 0) { %>
						<div class="alert-icon red white-text"><%= item.count %></div>
					<% } %>
					<img src="{{APP_IMAGE_PATH}}<%= item.name %>.png" alt="<%= item.caption %>">
					<br>
					<span style="white-space: nowrap"><%= item.caption %></span>
				</a>
			</div>
		</div>
	<% }) %>
</div>